{% extends "base.twig" %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <body>
        <form class="formChangePassword" method="POST" accept-charset="utf-8">
            <label for="old_password">Old password:</label>
            <input type="password" name="old_password" required>
            <label for="email">New password:</label>
            <input type="password" name="new_password" required>
            <label for="username">Confirm password:</label>
            <input type="password" name="confirm_password" required>
            {% if errors %}
                {% for error in errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <button style="margin-top: 2%; padding:2%" type="submit">Submit</button>
        </form>
        <p style="opacity: {{ opacity }} ; color: green">Password updated</p>
    </body>
{% endblock %}