{% extends "base.twig" %}

{% block title %}Register page{% endblock %}

{% block content %}
    <body>
        <p class="auxiliarMessage" style="margin-bottom: 30%">Check your email to validate your account</p>
    </body>
{% endblock %}