{% extends "base.twig" %}

{% block title %}Login page{% endblock %}

{% block content %}
    <p style="color: green;">{{ message }}</p>
    <form class="formLogin" method="POST" accept-charset="utf-8">
        <div class="divFormLogin">
            <input type="text" name="username" placeholder="Username " required>
            <button type="submit">Send friend request</button>
        </div>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
{% endblock %}