{% extends "base.twig" %}

{% block title %}Validation page{% endblock %}

{% block content %}
    <body>
        <p class="auxiliarMessage" style="margin-bottom: 30%">{{ message }}</p>
    </body>
{% endblock %}